<template name="home">
	<header>
	{{>loginButtons}} 
		</header>
		
	<h1>This is the home page</h1>
	<section class="jumbotron" style="display: flex; background-position: 50%; height: 500px; background-size: cover; background-image: url('../../WesternWall.jpg')">
		<div class="site-heading">
			<span>BYY</span>
		</div>
</section>
<div class="container">
      
  <a href="/yeshivot" class="btn btn-info" role="button">Find Your Yeshiva</a>
  <a href="/" class="btn btn-info" role="button">Find Your Seminary</a>
        
     </div>
    <hr>
</template>