<template name="yeshivot">
<input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <ul class="list-group" id="myList">
              {{#each schools}}
              console.log({{name}})
              <li class="list-group-item">
              <a class="nav-link" href="/quotes/{{_id}}">{{name}}</a>
            </li>
              {{/each}}
  </ul>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</template>